[submodule "MatrixVisualizer"]
	path = MatrixVisualizer
	url = https://github.com/y-takashina/MatrixVisualizer.git
[submodule "NabViz"]
	path = NabViz
	url = https://github.com/y-takashina/NabViz.git
[submodule "PipExtensions"]
	path = PipExtensions
	url = https://github.com/y-takashina/PipExtensions.git
