[submodule "MatViz"]
	path = MatViz
	url = https://github.com/y-takashina/MatViz.git
[submodule "PipExtensions"]
	path = PipExtensions
	url = https://github.com/y-takashina/PipExtensions.git
[submodule "RakuChart"]
	path = RakuChart
	url = https://github.com/y-takashina/RakuChart.git
[submodule "Clustering"]
	path = Clustering
	url = https://github.com/y-takashina/Clustering.git
